li {
  display: inline;
  font-weight: bolder;
  line-height: 3;
  padding: 0 20px;
}

li a {
  text-decoration: none;
  color: white;
}
li a:hover {
  /* background-color: rgb(140, 194, 255);*/
  background-color: lightpink;
}

header {
  text-align: right;
  padding: 12px;
  background-color: rgb(0, 0, 100);
  color: rgb(248, 5, 5);
  font-size: large;

  font-weight: bold;

  font-family: "Passion One", cursive;
}

#jj {
  float: left;
}

.box {
  color: rgb(0, 0, 100);
  background-color: white;
  /* background-color: rgb(140, 166, 251); */
  margin-left: 50px;
  width: 90vw;
  height: 75vh;
  border: 3px darkblue inset;
  border-radius: 25px;
}

.box #first {
  float: right;
  margin-top: 130px;
  margin-right: 40px;
}

.box h3 {
  padding: 40px;
  text-decoration: underline double;
  line-height: 40px;
}
h3 {
  font-size: large;
}
#kk {
  font-size: xx-large;
  font-weight: bolder;
}
#btn {
  background-color: rgb(101, 193, 15);
  color: black;
  width: 150px;
  height: 70px;
  font-size: large;
  font-weight: bold;

  border: outset rgb(201, 18, 18) 6px;
  border-radius: 35px;
}
.box #second {
  margin-top: 20px;
  float: inline-end;
}
.container2 {
  text-align: center;
  color: white;
  font-size: x-large;

  background-color: rgb(119, 119, 255);
  width: 100vw;
  padding-top: 50px;
  height: 92vh;
}
.box #third {
  margin-bottom: 10px;
  border-radius: 50px;
}
